main{
    width: 100vw;
    height: 100vh;
}
#user-wrapper{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
#top-row{
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow:hidden;
}
.top-row-div{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin: 10px;
}
.followers-column{
    text-align: center;
    font-weight: bold;
}
#middle-row{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    /*height: 200px;*/
    border-bottom: 1px solid black;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;

}
#middle-row button{
    cursor: pointer;
    font-size: 1.25rem;
    border: none;
    background-color: dodgerblue;
    border-radius: 20px;
    padding: 10px 20px;
    transition: 0.5s;
}
#middle-row button:hover{
    border: 1px solid rgb(22, 103, 184);
    border-radius: 22px;
    padding: 12px 24px;
}
#post-row{
    margin-top: 10px;
    height: 600;
    width: 1200px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    gap: 10px;
}
#post-row img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.post{
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s;
    transition: 0.5s;
    -webkit-transition: .9s all;

}

.post img:hover {
    -webkit-filter: brightness(75%);
}

#pfp{
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border: 3px solid black;
}
#edit-link{
    color: black;
    text-decoration: none;
}

#followInfo{
    position: absolute;
    z-index: 50;
    top: 30%;
    left: 50%;
    width: 30%;
    max-height: 500px;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 20px;
    display: none;
    border: 2px solid black;
}
.follow-info-link{
    text-decoration: none;
    color: black;
}
.follow-info-span{
    display: flex;
    align-items: center;
}
.follow-info-span *{
    margin: 5px;
}
.follow-info-span img{
    width: 64px;
    height: 64px;
    border: 2px solid black;
    border-radius: 50%;
}
.follow-user-wrapper{
    padding: 5px;
}
.follow-user-wrapper + .follow-user-wrapper {
    border-top: 1px solid grey;
}
